@import './styles/tokens/primitive.css';
@import './styles/tokens/semantic.css';
@import './styles/tokens/component.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-family-sans);
    background-color: var(--color-bg-app);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply min-h-screen;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
